<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="controls"><%= f.label :email %><br />
    <p class="form-control-static"><%= current_user.email %></p>
  </div>
  
  <div><%= f.label :job %></br>
  <%= f.autocomplete_field :job_name, autocomplete_job_name_users_path, :size => 35 %></div>
  
  <div><%= f.label :submission %></div><br />
  <div><%= f.file_field :submission %></div></br>

  <div><%= f.label :current_password %> <i>(Please enter your password)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div><%= f.submit "Update", class: "btn btn-primary" %></div>
<% end %>
  </br>
<%= link_to "Back", root_path, class: "btn btn-primary" %>
