<h2>Submission</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="controls"><%= f.label :email %><br />
    <p class="form-control-static"><%= current_user.email %></p>
  </div>
  
   <div class="controls"><%= f.label :job %><br />
    <p class="form-control-static"><%= current_user.job_name %></p>
  </div>
  
  <div><%= f.label :submission %></div>
  <div><%= f.file_field :submission %></div></br>

  <div><%= f.label :current_password %> <i>(Please enter your password)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  </br>
  <div><%= f.submit "Submit", class: "btn btn-primary" %></div>
<% end %>
  </br>
<%= link_to "Back", root_path, class: "btn btn-primary" %>
