<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :fullname %><br />
  <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.hidden_field :password, value: "11111111" %></div></br>

  <div><%= f.hidden_field :password_confirmation, value: "11111111" %></div>

  <div class="field">
    <%= f.label :cv %>
    <%= f.file_field :cv %>
  </div>

  </br>

  <div><%= f.submit "Sign up", class: "btn btn-large btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
