<%= will_paginate %>

<table class="table table-hover">
  <tr>
  	<th>Id</th>
  	<th>Name</th>
  	<th>Description</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
  	<td><%= job.id %></td>
  	<td class="item"><%= link_to job.name, controller: "jobs", action: "show", id: job %></td>
    <td class="item"><%= job.description %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate %>

