<% provide(:title, @user.username) %>
<h1><%= @user.username %>
<%= link_to "Send", { controller: "users", action: "mail", id: @user }, class: "btn btn-large btn-primary inline" %>
</h1>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Package Name</th>
    <th>Number of Question(s)</th>
  </tr>
  <% @user.packages.each do |package| %>
  <tr>
    <td><%= package.id %></td>
    <td><%= link_to package.name, controller: "packages", action: "show", id: package %></td>
    <td><%= package.questions.count %></td>
  </tr>
  <% end %>
</table>

<p>
  <% if current_user.try(:admin?) %>
    <%= form_tag("/users/add_package", :method=>"post") do %>
    <div class="field">
    <%= text_field_tag(:package_id) %>
    </div>
</br>
    <div class="field">
    <%= submit_tag("Add Package", class: "btn btn-medium btn-primary") %>
    </div>
  <% end %>
<% end %>
</p>