<% if @job.errors.any? %>
  <ul>
    <%= @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for [:admin, @job] do |f| %>
  <div>
    <%= f.label :name %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :tag_list, "Tags" %></br>
    <%= f.text_field :tag_list %>
  </div>
  <div>
    <%= f.label :description %>
  </div>
  <div>
    <%= f.text_field :description, size: 50 %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.cktext_area :body, rows: 10 %>
  </div>
</br>
  <div>
    <%= f.submit "Submit", class: "btn btn-medium btn-primary" %>
  </div>
<% end %>