<%= will_paginate %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#details" data-toggle="tab">Job Details</a></li>
  <li><a href="#management" data-toggle="tab">Job Management</a></li>
  <li><a href="#activities" data-toggle="tab">Activities</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="details">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Description</th>
        <th></th>
      </tr>
        <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td class="item"><%= link_to job.name, controller: "jobs", action: "show", id: job %></td>
        <td class="item">
        <% if job.tags.any? %>
          <% job.tags.each do |tag| %>
            <%= link_to tag.name, controller: "jobs", action: "tag", tag: tag.name %>
            <% if tag != job.tags.last %>
              ,
            <% end %>
          <% end %>
        <% end %>
        </td>
        <td class="item"><%= job.description %></td>
      </tr>
        <% end %>
      </table>
  </div>
  <div class="tab-pane" id="activities">
    <table class="table table-hover">
    <tr>
      <th>Job</th>
      <th>User</th>
      <th>Status</th>
      <th>Submission</th>
      <th></th>
      <th></th>
    </tr>
    <% @jobs.each do |job| %>
      <% job.users.each do |user| %>
    <tr>
        <td class="item"><%= link_to job.name, controller: "jobs", action: "show", id: job %></td>
        <td><%= link_to user.username, controller: "users", action: "show", id: user %></td>
        <td><%= user.status %></td>
        <td><% if user.submission.url.nil? == false %>
          <%= link_to "Download file", user.submission.url, :target => "_blank" %>
            <% end %>
        </td>
        <% if user.status == "submission_uploaded" %>
          <td><%= link_to "Accept", { controller: "users", action: "select_date", id: user }, class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to "Deny", { controller: "users", action: "destroy", id: user}, class: "btn btn-primary btn-sm" %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
      </table>
  </div>

  <div class="tab-pane" id="management">
    <ul class="nav nav-tabs">
    <% @jobs.each do |job| %>
      <li><a href="#job<%= job.id %>" data-toggle="tab"><%= job.name %></a></li>
    <% end %>
    </ul>
    <div class="tab-content">
      <% @jobs.each do |job| %>
      <div class="tab-pane" id="job<%= job.id %>">
        <table class="table table-hover">
          <tr>
            <th>User</th>
            <th>Status</th>
            <th>CV</th>
            <th>Submission</th>
            <th></th>
            <th></th>
          </tr>
            <% job.users.each do |user| %>
          <tr>
            <td><%= link_to user.username, controller: "users", action: "show", id: user %></td>
            <td><%= user.status %></td>
            <td><%= link_to "Download CV", user.cv.url, :target => '_blank' %></td>
            <td>
              <% if user.submission.url.nil? == false %>
                <%= link_to "Download file", user.submission.url, :target => "_blank" %>
              <% end %>
            </td>
              <% if user.status == "submission_uploaded" %>
                <td><%= link_to "Accept", { controller: "users", action: "select_date", id: user }, class: "btn btn-primary btn-sm" %></td>
                <td><%= link_to "Deny", { controller: "users", action: "destroy", id: user}, class: "btn btn-primary btn-sm" %></td>
              <% elsif user.status == "applied" %>
                <td><%= link_to "Accept", { controller: "users", action: "send_test", id: user }, class: "btn btn-primary btn-sm" %></td>
                <td><%= link_to "Deny", { controller: "users", action: "destroy", id: user}, class: "btn btn-primary btn-sm" %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
          </tr>
            <% end %>
          
        </table>
      </div>
      <% end %>
    </div>

  </div>


  <div class="tab-pane" id="settings">settings</div>
</div>



<%= will_paginate %>

