<%= will_paginate %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#details" data-toggle="tab">Job Details</a></li>
  <li><a href="#submission" data-toggle="tab">Submission</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="details">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Description</th>
        <th></th>
      </tr>
        <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td class="item"><%= link_to job.name, controller: "jobs", action: "show", id: job %></td>
        <td class="item">
        <% if job.tags.any? %>
          <% job.tags.each do |tag| %>
            <%= link_to tag.name, controller: "jobs", action: "tag", tag: tag.name %>
            <% if tag != job.tags.last %>
              ,
            <% end %>
          <% end %>
        <% end %>
        </td>
        <td class="item"><%= job.description %></td>
      </tr>
        <% end %>
      </table>
  </div>
  <div class="tab-pane" id="submission">
    <table class="table table-hover">
    <tr>
      <th>Job</th>
      <th>User</th>
      <th>Status</th>
      <th>Submission</th>
    </tr>
    <% @jobs.each do |job| %>
      <% job.users.each do |user| %>
    <tr>
        <td class="item"><%= link_to job.name, controller: "jobs", action: "show", id: job %></td>
        <td><%= link_to user.username, controller: "users", action: "show", id: user %></td>
        <td><%= user.status %></td>
        <td><% if user.submission.url.nil? == false %>
          <%= link_to "Download file", user.submission.url %>
            <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
      </table>
  </div>
  <div class="tab-pane" id="messages">messages</div>
  <div class="tab-pane" id="settings">settings</div>
</div>

<%= will_paginate %>

