<h1>All users</h1>

<%= will_paginate %>

<table class="table table-hover">
  <tr>
  	<th>Id</th>
    <th>Name</th>
  	<th>Email</th>
    <th>Joined Date</th>
    <th>Status</th>
    <th>CV</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
  	<td><%= user.id %></td>
    <td><%= link_to user.username, controller: "users", action: "show", id: user %></td>
  	<td><%= link_to user.email, controller: "users", action: "show", id: user %></td>
    <td><%= user.created_at %></td>
    <td><%= user.status %></td>
    <td>
      <% if user.cv.url.nil? == false %>
      <%= link_to "Download CV", user.cv.url %>
      <% end %>
    </td>
    <% if user.status == "Registered" %>
      <td><%= link_to "Accept", { controller: "users", action: "mail", id: user }, class: "btn btn-primary" %></td>
      <td><%= link_to "Deny", { controller: "users", action: "destroy", id: user}, class: "btn btn-primary" %></td>
    <% else %>
      <td>CV accepted</td>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= will_paginate %>